<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="animalMapper">


<resultMap id="list" type="AnimalBoard">
<result column="BOARD_NO" property="boardNo"/>
<result column="TITLE" property="title"/>
<result column="CATEGORY_NAME" property="categoryName"/>
<result column="content" property="content"/>
<result column="WRITE_DATE" property="writeDate"/>
<result column="VIEW_COUNT" property="viewCount"/>
<result column="NICKNAME" property="writer"/>
<result column="CATEGORY_NO" property="categoryNo"/>
<result column="USER_NO" property="userNo"/>
<result column="CHANGE_NAME" property="uploadedFile"/>
</resultMap>

<resultMap id="report" type="com.kh.local.animal.model.vo.Report">
	<result column="REPORT_NO" property="reportNo"/>
	<result column="REPORT_PLACE" property="reportPlace"/>
	<result column="REPORT_DATE" property="reportDate"/>
	<result column="REPORT_TIME" property="reportTime"/>
	<result column="NICKNAME" property="nickName"/>
	<result column="ANIMAL_NAME" property="animalName"/>
	<result column="ANIMAL_TYPE" property="animalType"/>
	<result column="BREEDE" property="breede"/>
	<result column="AGE" property="age"/>
	<result column="STATUS" property="status"/>
	<result column="CONTENT" property="content"/>
	<result column="CHANGE_NAME" property="changeName"/>
</resultMap>


<select id = "areaInfo"  parameterType="_int" resultType="com.kh.local.common.model.vo.AreaInfomation">
	
	SELECT 
	   		 COUNTY_NAME countryName,
	   		 CITY_NAME cityName
	  FROM
    		TB_AREAS A, TB_CITY C
   	 WHERE
   			A.CITY_CODE = C.CITY_CODE AND AREAS_CODE = #{code}		

</select>
<select id="BoardCount" resultType="_int">

	SELECT
			COUNT (*)
	FROM
			TB_ANIMAL_BOARD		

</select>
<select id="viewMain" resultMap="report">
		SELECT
				REPORT_NO,
				REPORT_PLACE,
				TO_CHAR(REPORT_DATE,'YYYY-MM-DD') AS "REPORT_DATE",
				REPORT_TIME,
				NICKNAME,
				ANIMAL_NAME,
                ANIMAL_TYPE,
                BREEDE,
                AGE,
				TB_MISSING_REPORT.STATUS,
				CONTENT,
				CHANGE_NAME
		 FROM
		 		TB_MISSING_REPORT		
		 JOIN
				TB_REPORT_ATTACHMENT USING(REPORT_NO)
		 JOIN
		 		TB_MEMBER USING(USER_NO)
         JOIN
                TB_ANIMAL USING(ANIMAL_NAME)
         WHERE
                tb_missing_report.status='N'
		 ORDER
		    BY
		    	REPORT_DATE DESC		
                					

</select>

<select id="BoardList" resultMap="list">

				SELECT
				        BOARD_NO,
				        TITLE,
				        CONTENT,
				        NICKNAME,
				        CATEGORY_NAME,
				        TO_CHAR(WRITE_DATE,'YYYY-MM-DD') AS "WRITE_DATE",
				        VIEW_COUNT,
				        CATEGORY_NO,
				        USER_NO,
				        CHANGE_NAME
				 FROM
				        TB_ANIMAL_BOARD
				 JOIN 
				        TB_CATEGORY USING(CATEGORY_NO)
				 JOIN 
				        TB_MEMBER USING (USER_NO)
				 JOIN
				 		TB_BOARD_FILE USING (BOARD_NO)       
				 ORDER
				    BY
				        WRITE_DATE DESC


</select>
<select id="keywordList" resultMap="list">

				SELECT
				        BOARD_NO,
				        TITLE,
				        CONTENT,
				        NICKNAME,
				        CATEGORY_NAME,
				        TO_CHAR(WRITE_DATE,'YYYY-MM-DD') AS "WRITE_DATE",
				        VIEW_COUNT,
				        CATEGORY_NO,
				        USER_NO,
				        CHANGE_NAME
				 FROM
				        TB_ANIMAL_BOARD
				 JOIN 
				        TB_CATEGORY USING(CATEGORY_NO)
				 JOIN 
				        TB_MEMBER USING (USER_NO)
				 JOIN
				 		TB_BOARD_FILE USING (BOARD_NO)        
				 WHERE        
						CATEGORY_NAME = #{category}				        
				 ORDER
				    BY
				        WRITE_DATE DESC



</select>
<select id="searchkeyword" parameterType="HashMap" resultMap="list">
				
				SELECT 
						BOARD_NO,
						TITLE,
						CONTENT,
						NICKNAME,
						
						CATEGORY_NAME,
						TO_CHAR(WRITE_DATE,'YYYY-MM-DD') AS "WRITE_DATE",
						VIEW_COUNT,
						CATEGORY_NO,
						USER_NO,
						
				  FROM	
				  		TB_ANIMAL_BOARD
				  JOIN 			
						TB_CATEGORY USING(CATEGORY_NO)
				  JOIN
				  		TB_MEMBER USING(USER_NO)
				  	
				 WHERE
				 		<choose>
				 				<when test="category=='제목'">
				 					TITLE
				 				</when>
				 				<when test="category=='작성자'">
				 					NICKNAME
				 				</when>
				 				<otherwise>
				 					CONTENT
				 				</otherwise>
				 		</choose>
				  LIKE '%' || #{keyword}|| '%'
				 		 		
				 ORDER
				 	BY
				 		WRITE_DATE DESC		 			
</select>

<insert id="insertContent" parameterType="Report">
			INSERT
			  INTO
			  		TB_MISSING_REPORT (
			  							REPORT_NO,	
			  							REPORT_PLACE,
			  							CONTENT,
			  							REPORT_DATE,
			  							REPORT_TIME,
			  							USER_NO,
			  							ANIMAL_NAME,
			  							STATUS,
			  							)
			  					VALUES
			  							(
			  							SEQ_REPORT.NEXTVAL,
			  							#{reportPlace},
			  							#{content},
			  							#{reportDate},
			  							#{reportTime},
			  							#{userNo},
			  							#{animalName},
			  							DEFAULT
			  							)
			  		

</insert>
<insert id="insertReport" parameterType="Attachment">
			INSERT 
			  INTO 
					TB_REPORT_ATTACHMENT
										(
										ATTACHEMENT_NO,
										ORIGIN_NAME,
										CHANGE_NAME,
										FILE_PATH,
										REPORT_NO
										)
								VALUES
										(
										SEQ_ATTACHEMENT.NEXTVAL,
										#{originName},
										#{changeName},
										#{filePath},
										SEQ_REPORT.CURRVAL
										)
							
				

</insert>
<insert id="default" parameterType="Attachment">
			INSERT 
			  INTO 
					TB_BOARD_FILE
										(
										ATTACHMENT_NO,
										ORIGIN_NAME,
										CHANGE_NAME,
										BOARD_NO
										)
								VALUES
										(
										SEQ_ATTACHEMENT.NEXTVAL,
										#{originName},
										#{changeName},
										#{reportNo}
										)
</insert>
<insert id="Attachment">
			INSERT
			  INTO
			  		TB_BOARD_FILE(
			  						ATTACHMENT_NO,
			  						ORIGIN_NAME,
			  						CHANGE_NAME,
			  						BOARD_NO
			  					  )
			  				VALUES(
			  						SEQ_BOARDFILE.NEXTVAL,
			  						#{originName},
			  						#{changeName},
			  						SEQ_ANIMAL_BOARD.CURRVAL
			  						)		  
			  
			  		
</insert>
<insert id="insertBoard" parameterType="AnimalBoard">
			INSERT
			  INTO
			  		TB_ANIMAL_BOARD(
					  				BOARD_NO,
					  				TITLE,
					  				CONTENT,
					  				WRITE_DATE,
			  						VIEW_COUNT,
			  						CATEGORY_NO,
			  						USER_NO
			  						)
							VALUES(
			  						SEQ_ANIMAL_BOARD.NEXTVAL,
			  						#{title},
			  						#{content},
			  						SYSDATE,
			  						0,
			  						#{categoryNo},
			  						#{userNo}
			  						)			
	
</insert>					
<select id="animalInfo" parameterType="HashMap" resultType="Animal">
			SELECT
					ANIMAL_NO,
					ANIMAL_TYPE,
					BREEDE,
					ANIMAL_NAME,
					GENDER,
					PORTRAIT,
					AGE,
					NUTRIED,
					USER_NO
			FROM
					TB_ANIMAL		
		   WHERE
		   			USER_NO = #{user} AND ANIMAL_NAME = #{animalName}				
					

</select>
<select id="viewDetail" resultMap="list" parameterType="_int">
			SELECT
				        BOARD_NO,
				        TITLE,
				        CONTENT,
				        NICKNAME,
				        CATEGORY_NAME,
				        TO_CHAR(WRITE_DATE,'YYYY-MM-DD') AS "WRITE_DATE",
				        VIEW_COUNT,
				        CATEGORY_NO,
				        USER_NO,
				        CHANGE_NAME
				 FROM
				        TB_ANIMAL_BOARD
				 JOIN 			
						TB_CATEGORY USING(CATEGORY_NO)
				 JOIN
				  		TB_MEMBER USING(USER_NO)
				 JOIN 	
				 		TB_BOARD_FILE USING(BOARD_NO) 		       
				WHERE
						BOARD_NO = #{boardNo}       
					
</select>


</mapper>